/* container */
.weather_container{
   display: flex;
   flex-direction: row;
   margin-top: 60px;
   flex-wrap: wrap;

}
.weather_summary {
    margin-top: 40px;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px ;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
}
.weather_initial_content{
    border-bottom: 1px solid black;    
}

.weather_details {
    font-size: 25px;
    color: black;
    
}
/* overview details */
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 38px;
    color: #0c2f6b;
}
p {
    font-family: 'Roboto Slab', serif;
}
#date {
    font-size: 14px;
    color: #0f1c30;
    font-weight: 400;

}
#temp {
    font-size: 40px;
    font-weight: 600;
    color: #0f1c30;
}
#description {
    text-transform: capitalize;
    font-weight: 700;
    color: #4075ce;
    
}